<%-include ('partials/header')%>

<hr class="al-hr">
<div class="container">
  <form method="post" action="/add" enctype="multipart/form-data">
  <div class="row">
    
    
      <div class="col-xl-6 m-auto bord">
        <div class="form-group p-1">
          <label for="sbArea">Super Builtup area (ft²) </label>
          <input  name="sbArea" class="form-control" id="sbArea"  placeholder="Super Builtup area" type="number" autocomplete="off">
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <%-include('menu/button') %>>
  
        </div>
        </div>
        </div>
      </form>
     
      

</div>
<div class="foot">

</div>
<!-- ////////////////////////////////////////// COMMON BOTTOM END /////////////////////////////// -->
