
<ol class="list-group list-group-numbered p-3">
  <%if(List!=false){%>
        <%List.forEach((data)=>{%>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold"><%=data.firstname+data.lastname%></div>
              <%=data.email%>
            </div>
            <a href="staff/details/<%=data._id%>"><span class="badge bg-primary rounded-pill">Details</span></a>
          </li>
          <%})%>
          <%}else{%>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">No Staffs Found</div>
                Create staffs
              </div>
              <a href="/bigadmin/adadmin"><span class="badge bg-primary rounded-pill">Add Staff</span></a>
            </li>
            <%}%>
        
          
  </ol>
