
<div class="form-group p-1">
    <label for="carpArea">Carpet Area (ft) </label>
    <input  name="carpArea" class="form-control" id="carpArea"  placeholder="Carpet area" type="number" autocomplete="off">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>