<!-- listedby -->
<div class="form-group p-1">
    <label for="pName">Construction Status </label>
    <select class="form-select" aria-label="Default select example" name="conStatus">
      <option selected value="New Launch">New Launch</option>
      <option value="Ready to Move">Ready to Move</option>
      <option value="Under Construction">Under Construction</option>
     
    </select>
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>