<div class="form-group p-1">
    <label for="sbArea">Super Builtup area (ft²) </label>
    <input  name="sbArea" class="form-control" id="sbArea"  placeholder="Super Builtup area" type="number" autocomplete="off">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>