<div class="form-group p-1">
    <label for="tFloors">Total Floors</label>
    <input  name="tFloors" class="form-control" id="tFloors"  placeholder="Total Floors" type="number" autocomplete="off">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>